/********** system classes ************/

body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * { 
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {  
  content: "";
  position: absolute;

  height: 18px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  font-family: "Courier New", monospace;
  white-space: nowrap;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: inset 0 0 0 3px green;
}

body > *::before {
  top: 0;
  left: 0;

  color: white;
  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: inset 0 0 0 2px rgb(255, 45, 82);
}

body > * > *::before {
  top: -20px;
  left: 0;

  color: white;
  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 1px rgb(234, 255, 45);
}

body > * > * > *::before {
  top: 0;
  right: 0;
  
  color: black;
  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.main-header .container::before {
  top: 0;
}

.container::before {
  content: ".container";
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}

.features::before {
  content: ".features";
}

.features-item::before {
  content: ".features-item";
}

.index-content::before {
  content: ".index-content";
}

.index-content-left::before {
  content: ".index-content-left";
}

.index-content-right::before {
  content: ".index-content-right";
}

.main-footer::before {
  content: ".main-footer";
}

.footer-contacts::before {
  content: ".footer-contacts";
}

.footer-social::before {
  content: ".footer-social";
}

.footer-copyright::before {
  content: ".footer-copyright";
}
