
html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 960px;
  
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  text-transform: uppercase;

  color: #fff;
  background: #111 url("../img/body-bg.jpg") no-repeat center top;
  /*background: #111 url("../img/barbershop-index.jpg") no-repeat center;*/
}

body.inner-page {
  color: #000;
  background: #f8f3f0 url("../img/pattern-white.jpg");
}

.clearfix::after {
  content: "";
  
  display: table;
  clear: both;

/*  display: block;
  height: 20px;
  background-color: white;
  background-image: linear-gradient(45deg, white 45%, black 50%, white 55%);
  background-size: 20px;
*/
}

.main-header {
  margin-bottom: 60px;
  
  color: #fff;
  background-color: #000;
}

.inner-page .main-header {
  margin-bottom: 55px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  float: left;
  width: inherit;
  min-height: 72px;
}

.main-navigation ul{  
  margin: 0;
  padding: 0;
  
  list-style: none;
  font-size: 0;
}

.main-navigation li{  
  display: inline-block;
  font-size: 16px;
  line-height: 20px;  
  vertical-align: top;
}

.main-navigation li:last-child{  
  position: relative;
  float: right;
  max-width: 140px;
}

.main-navigation li:last-child ::before {  
  content: "";
  position: absolute;
  top: 28px;  
  left: 20px;
  
  width: 18px;
  height: 16px;
  
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -217px;
  opacity: 0.3;
}

.main-navigation li:last-child:hover ::before {  
  opacity: 1;
}

.main-navigation li:last-child a{    
  padding-left: 50px;
}

.main-navigation a{
  display: block;
  padding: 26px 20px;
  
  color: #fff;
  text-decoration: none;
}

.main-navigation a:hover{
  background: #242424;
}

/*css for price*/
.main-navigation .active {
  position: relative;
  background: none;
}

.main-navigation .active span {
  display: block;
  padding: 26px 20px;
  background: none;
}

.main-navigation .active::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 5px;
  
  background-color: #fff;
}

.main-navigation .logo-inner {
  float: left;
  width: 111px;
  height: 22px;
  padding-top: 24px;
}

.main-navigation .logo-inner img{
  width: 111px;
  height: 24px;
}

.main-navigation .logo-inner:hover{
  background: none;
}
/***************/

.index-logo {
  width: 368px;
  height: 204px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  
  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.features-name {
  position: relative;
  
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;
  
  font-size: 30px;
  line-height: 42px;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  
  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  
  background-color: #fff;
  transform: rotate(45deg);
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  
  color: #000;
  background: 
    url("../img/divider.png") no-repeat center,
    #f8f5f2 url("../img/pattern-white.jpg");
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  
  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  
  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
  font-weight: 400;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;
  
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  
  color: #fff;
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663D15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000;
}

.gallery {
  position: relative;
  
  height: 260px;
}

.gallery-content {
  margin: 0;  
  height: 164px;
  
  background-color: #ccc;
  border: 7px solid #fff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;
  
  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 106px;
  margin-top: -1.5px; /*holywar*/
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  text-transform: uppercase;
  
  color: #000;
  background-color: #f9f6f3;
  border: 2px solid #000;
  outline: none;
}


.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

/*стили внутренних страниц*/

.inner-page-title {
  margin-bottom: 55px;
}

.inner-page-title h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  
  display: inline;
  padding-right: 40px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 14px;
  
  
  width: 8px;
  height: 8px;
  
  background-color: #000;
  transform: rotate(45deg);   
}

.breadcrumbs .current::after {
  content: none;
}

.breadcrumbs a {
  color: #000;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs .current {
  color: #aba9a7;
}

.inner-content {
  margin-bottom: 75px;
}

.inner-content h2{
  margin-top: 60px;
  margin-bottom: 30px;
  
  font-size: 24px;
  line-height: 30px;
}

.inner-content h2 + h3 {
  margin-top: 30px;
}

.inner-content p {
  margin: 14px 0;
}

.inner-content table {
  border-collapse: collapse;
}

.inner-content td {
  padding: 10px 15px;
  
  border: 2px solid #000;
}

/* Особые стили для контентных тегов */

.big-heading {
  margin-top: 55px;
  margin-bottom: 65px;
  
  text-align: center;
}

.big-heading h2 {
  position: relative;
  z-index: 2;
  
  display: inline-block;
  margin: 0;
  padding: 0 25px;
  
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  
  background: #f8f3f0 url("../img/pattern-white.jpg");
}
.big-heading::after {
  content: "";   
  position: relative;
  z-index: 1;
  top: -25px;
  
  display: block;
  
  border-bottom: 2px solid #000;
}

.custom-list-1 {
  margin: 14px 0;
  padding: 0;
  
  list-style: none;
}

.custom-list-1 li {
  position: relative;
  
  margin-bottom: 15px;
  padding-left: 20px;
  
  list-style: none;
}

.custom-list-1 li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  
  width: 8px;
  height: 8px;
  
  background-color: #000;
  transform: rotate(45deg);
}

.prices-table {
  width: 100%;
}

.prices-table td {
  width: 50%;
}

.prices-table td:last-child {
  text-align: center;
}

.short-text {
  padding-right: 80px;
}

.inner-columns {
  margin: 60px 0;
}

.inner-column-left,
.inner-column-right {
  width: 460px;
}

.inner-column-left {
  float: left;
}

.inner-column-right {
  float: right;
}

.inner-column-left *:first-child, 
.inner-column-right *:first-child {
  margin-top: 0;
}

.inner-column-left *:last-child, 
.inner-column-right *:last-child {
  margin-bottom: 0;
}




/***********************************/

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  
  color: #fff;
  background: #252525 url("../img/pattern-black.jpg");
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-contacts a {
  color: #fff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
  
  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  
  background: #000 url("../img/sprite.png") no-repeat center;
  transition: 
    background-position 0.5s,
    background-color 0.5s;
}

.social-btn:hover {
  background-color: #fff;
}

.social-btn-vk {
  background-position: -5px -402px;
}

.social-btn-fb {
  
  background-position: -5px -58px;
}

.social-btn-inst {
  background-position: -5px -164px;
}

.social-btn-vk:hover {
  background-position: -5px -349px;
}

.social-btn-fb:hover {
  background-position: -5px -5px;
}

.social-btn-inst:hover {
  background-position: -5px -111px;
}

.footer-copyright {
  position: relative;
  float: right;
  width: 160px;
  min-height: 90px;
}

.footer-copyright p{
  margin: 0;
  margin-bottom: 15px;
  
  text-align: center;
}

.footer-copyright .btn {
  position: absolute;
  right: 0;
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000;
  background: #fff;
}

/* Всплывающая форма */

.modal-content {
  position: absolute;
  top: 120px;
  left: 50%;
  z-index: 20;
  
  width: 300px;
  margin-left: -230px;
  padding: 50px 80px;
  color: #000;
  background: #f8f3f0 url("../img/pattern-white.jpg");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-close {
  position: absolute;
  top: 0;
  right: -34px;
  
  width: 22px;
  height: 22px;
  
  font-size: 0;
  
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  
  width: 19px;
  height: 2px;
  background-color: #d0d0d0;
  border-radius: 1px;
}
 
.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;
  
  font-size: 30px;
  line-height: 42px;  
}

.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}

.modal-content .login-form {
  margin-top: 30px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;
  
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #000;  
  text-transform: uppercase;
  background: #f9f6f3;
  border: 2px solid #000;
  outline: none;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-form input.icon-user {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: 100% -296px;
}

.login-form input.icon-password {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: 100% -243px;
}

.login-form .restore {
  float: right;
  color: #000;
}

.login-form .btn {
  margin-top: 15px;
  width: 100%;
}

.login-checkbox {
  position: relative;
  
  padding-left: 30px;
}

.login-checkbox:hover {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] {
  display: none;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -1px;
  left: 0;
  
  width: 17px;
  height: 17px;
  
  border: 2px solid #000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  
  width: 15px;
  height: 2px;
  
  background-color: #000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}
    
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.modal-content-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  
  
  width: 766px;
  height: 560px;
  margin-top: -280px;
  margin-left: -390px;
  
  
  background: #e9e5dc url("../img/map.jpg");
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-overlay {
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  
  width: 100%;
  height: 100%;
  
  background: rgba(0, 0, 0, 0.5);
}

.modal-content,
.modal-content-map,
.modal-overlay {
  display: none;
}

.modal-content-show {
  display:block;
}

.modal-content-hide {
  display:none;
}


/*
.social-btn-vk {
  background: url("../img/vk-icon.png") no-repeat center top;
}
.social-btn-fb {
  background: url("../img/facebook-icon.png") no-repeat center top;
}
.social-btn-inst {
  background: url("../img/instagram-icon.png") no-repeat center top;
}
*/


/********** system classes ************/

/*
body {
  padding: 3px;
}
*/

/*
body > *,
body > * > *,
body > * > * > * { 
  position: relative;
}
*/

/*
body > *::before,
body > * > *::before,
body > * > * > *::before {  
  content: "";
  position: absolute;

  height: 18px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  font-family: "Courier New", monospace;
  white-space: nowrap;
}
*/

/*
body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: inset 0 0 0 3px green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: inset 0 0 0 2px rgb(255, 45, 82);
}

body > * > * > * {
  background-color: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 1px rgb(234, 255, 45);
}

body > *::before {
  top: 0;
  left: 0;

  color: white;
  background: green;
}

body > * > *::before {
  top: -20px;
  left: 0;

  color: white;
  background: rgb(255, 45, 82);
}

body > * > * > *::before {
  top: 0;
  right: 0;
  
  color: black;
  background-color: rgb(234, 255, 45);
}
*/

/*
.main-header::before {
  content: ".main-header";
}

.main-header .container::before {
  top: 0;
}

.container::before {
  content: ".container";
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}

.features::before {
  content: ".features";
}

.features-item::before {
  content: ".features-item";
}

.index-content::before {
  content: ".index-content";
}

.index-content-left::before {
  content: ".index-content-left";
}

.index-content-right::before {
  content: ".index-content-right";
}

.main-footer::before {
  content: ".main-footer";
}

.footer-contacts::before {
  content: ".footer-contacts";
}

.footer-social::before {
  content: ".footer-social";
}

.footer-copyright::before {
  content: ".footer-copyright";
}
*/

/*
.main-header {
  background: #000;  
  box-shadow: none;
}

.container,
.main-navigation,
.index-logo,
.index-logo img,
.features,
.features-item,
.index-content,
.index-content-left,
.index-content-right,
.main-footer,
.footer-contacts,
.footer-social,
.footer-copyright
{
  content: "";
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}
*/

