
html,
body {
  min-height: 1750px;
  margin: 0;
  padding: 0;
}

body {
  min-width: 960px;
  
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  text-transform: uppercase;

  color: #fff;
  background: #111 url("../img/body-bg.jpg") no-repeat center top;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 60px;
  
  color: #fff;
  background-color: #000;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  display: flex;
  
  min-height: 72px;
}

.main-navigation a {
  flex: 1;
}

.main-navigation ul{  
  margin: 0;
  padding: 0;
  
  list-style: none;
  font-size: 0;
}

.main-navigation li{  
  display: inline-block;
  font-size: 16px;
  line-height: 20px;  
  vertical-align: top;
}

.main-navigation li:last-child{  
  position: relative;
  float: right;
  max-width: 140px;
}

.main-navigation li:last-child ::before {  
  content: "";
  position: absolute;
  top: 28px;  
  left: 20px;
  
  width: 18px;
  height: 16px;
  
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -2px -124px;
  opacity: 0.3;
}

.main-navigation li:last-child:hover ::before {  
  opacity: 1;
}

.main-navigation .login a{    
  padding-left: 50px;
}

.main-navigation li:last-child a{    
  padding-left: 50px;
}

.main-navigation a{
  display: block;
  padding: 26px 20px;
  
  color: #fff;
  text-decoration: none;
}

.main-navigation a:hover{
  background: #242424;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  
  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.features-name {
  position: relative;
  
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;
  
  font-size: 30px;
  line-height: 42px;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  
  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  
  background-color: #fff;
  transform: rotate(45deg);
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  
  color: #000;
  background: 
    url("../img/divider.png") no-repeat center,
    #f8f5f2 url("../img/pattern-white-crop.jpg");
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  
  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  
  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
  font-weight: 400;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  
  color: #fff;
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663D15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000;
}

.gallery {
  position: relative;
  
  height: 260px;
}

.gallery-content {
  margin: 0;  
  height: 164px;
  
  background-color: #ccc;
  border: 7px solid #fff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;
  
  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 106px;
  margin-top: -1.5px; /*holywar*/
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  text-transform: uppercase;
  
  color: #000;
  background-color: #f9f6f3;
  border: 2px solid #000;
  outline: none;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  
  color: #fff;
  background: #252525 url("../img/pattern-black-crop.jpg");
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-contacts a {
  color: #fff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
  
  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  
  background: #000 url("../img/spritesheet.png") no-repeat center;
  transition: 
    background-position 0.5s,
    background-color 0.5s;
}

.social-btn:hover {
  background-color: #fff;
}

.social-btn-vk {
  background-position: -2px -164px;
}

.social-btn-fb {
  background-position: -2px -28px;
}

.social-btn-inst {
  background-position: -2px -79px;
}

.social-btn-vk:hover {
  background-position: -2px -144px;
}

.social-btn-fb:hover {
  background-position: -2px -2px;
}

.social-btn-inst:hover {
  background-position: -2px -54px;
}

.footer-copyright {
  float: right;
  width: 180px;
}

.footer-copyright p{
  margin: 0;
  margin-bottom: 15px;
  
  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000;
}

