
body {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.div {
  position: static;  

  background: mediumaquamarine;
  border: 2px solid #777;

  width: 230px;

  padding: 10px;
  margin: 20px;
}

.div2 {
  position: absolute;
/*
  top: 50px;
  right: 200px;
  left: 200px;
*/
  background-color: bisque;
  border: 2px solid #777;
  padding: 10px;
/*  margin: 20px;*/
}

.div3 {
  text-align: right;
}